/* Sarah-Jane Christensen, 4/6/22
This is for me to do my own styling. */

body {
    background-image: url(../images/otherbg.png);
    background-size: fill;
    background-position: right;
}

.homebg {
    background-image: url(../images/mybg.png);
    background-size: fill;
    background-position: left;
}

.headertext {
    color: black;
}

.headtext2 {
    color: darkslateblue;
}

.box {
    background-color: lightblue;
    opacity: 1;
}

.button {
    background-color: deepskyblue;
}

.footer1 {
    bottom: 0px;
    height: 5px;
    left: 0px;
    right: 0px;
    font-size: 15px;
    color: black;
    text-align: center;
    position: absolute;
    position: fixed;
    z-index: 1;
    background-color: lightblue;
    opacity: 0.9;
}

.navbar1 {
    background-color: lightblue;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.navilink {
    font-weight: 800;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
}

.navilink:hover {
    color: darkslateblue
}

.footer2 {
    bottom: 0px;
    height: 5px;
    left: 0px;
    right: 0px;
    font-size: 15px;
    color: black;
    text-align: center;
    position: absolute;
    position: fixed;
    z-index: 1;
    background-color: lightblue;
    opacity: 0.9;
}

.text {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.footer3 {
    bottom: 0px;
    height: 5px;
    left: 0px;
    right: 0px;
    font-size: 15px;
    color: black;
    text-align: center;
    position: absolute;
    position: fixed;
    z-index: 1;
    background-color: lightblue;
    opacity: 0.9;
}

.paddingtime {
    padding: 50px;
}

.morepad {
    padding-bottom: 75px;
}

.anotherpad {
    padding-left: 400px;
}
